<footer>
    <div class="footer-content">
        <h3>Travel Blog</h3>
        <p>Travel blogs reveal the secrets and special points of interest for our dream destinations, describing personal experiences and making observations that cannot be found in any holiday catalogue. Re-living the experience is what makes a travel journal so appealing for readers.</p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy; <a href="#">Ivan Zlatinov</a>  </p>
                <div class="footer-menu">
                  <ul class="f-menu">
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/about">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a routerLink="/posts">Blog</a></li>
                  </ul>
                </div>
    </div>

</footer>