<div class="container">
  <form>
    <div class="wrapper">
      <div class="title">Create a Post</div>
      <div class="form">
        <div class="inputfield">
          <label>Destination</label>
          <input type="text" class="input" name="destination" id="destination"/>
        </div>

        <div class="inputfield">
          <label>Title</label>
          <input type="text" class="input" name="title" id="title" />
        </div>

        <div class="inputfield">
          <label>Cost of the trip</label>
          <input type="number"  class="input"  name="cost" id="cost" />
        </div>

        <div class="inputfield">
            <label>Duration of the trip</label>
            <input type="text"  class="input"  name="duration" id="duration" />
          </div>

          <div class="inputfield">
            <label>Image URL</label>
            <input type="text"  class="input"  name="imgUrl" id="imgUrl" />
          </div>

        <div class="inputfield">
            <label>Description</label>
            <textarea class="textarea" name="description" id="description"></textarea>
         </div> 
         

        <div class="inputfield">
          <button type="submit" class="btn">Create</button>
        </div>
      </div>
    </div>
  </form>
</div>
