<div class="details-container">
    <div class="details-box">
        <div class="details-images">
            <div class="details-img-holder active">
                <img src={{currentPost?.imgUrl}}>
            </div>
            
        </div>
        <div class="details-basic-info">
            <h1>Trip to: {{currentPost?.destination}}</h1>
           
            <span>Cost of the trip: {{currentPost?.cost}}</span>
            <h3>For {{currentPost?.duration}}</h3>
            
            <ng-container *ngIf="isOwner">
                    <div class="details-options">
                    <a [routerLink]="['/posts/edit', currentPost?._id]" class="edit-btn">Edit trip</a>
                    <a  type="button" (click)="deletePost()" class="delete-btn">Delete trip</a>
                </div>
            </ng-container>
                
        </div>
        <div class="details-description">
            <p>{{currentPost?.description}}</p>
            
        </div>
        
    </div>
</div>