<div class="banner">
    <div class="content">
        <h1>Share your traveling experince and <br /> check out others </h1>
    <a routerLink="/posts">Browse peoples posts</a>
    </div>
    
</div>

<div class="cards"> 
    <h1 class="recent">Recent posts</h1> 
      <div class="cards-container"> 
         <div class="cards-wrapper">
             <ul class="cards-items" id="upper">
            <ng-container *ngFor="let post of recentPostsUpper ">
                <app-article-item [post]="post" class="cards-item"></app-article-item>
            </ng-container>
             </ul>

             <ul class='cards-items' id="lower">
                <ng-container *ngFor="let post of recentPostsLower">
                    <app-article-item [post]="post" class="cards-item"></app-article-item>
                </ng-container>
       </ul>
         </div>
     </div>
   </div>