<div class="container">
    <form [formGroup]="form" (ngSubmit)="editPostHandler()">
    <div class="wrapper">
        <div class="title">
          Edit your post
        </div>
        <div class="form">
           <div class="inputfield">
              <label>Destination</label>
              <input type="text" class="input" formControlName="destination"  [ngModel]="currentPost?.destination" name="destination" id="destination">
           </div>
           <p class="error" *ngIf="form.get('destination')?.touched && form.get('destination')?.errors?.['required']">
            Destination name is required</p>  
            <div class="inputfield">
              <label>Title</label>
              <input type="text" class="input" formControlName="title"  [ngModel]="currentPost?.title" name="title" id="title" >
           </div> 
          <ng-container *ngIf="form.get('title')?.touched">
           <p class="error" *ngIf="form.get('title')?.errors?.['required']">
            Title is required</p>
           <p class="error" *ngIf="form.get('title')?.errors?.['minLength']">
            Title must be atleast 5 characters long</p>
         </ng-container>
  
           <div class="inputfield">
              <label>Cost</label>
              <input type="number" class="input" formControlName="cost" [ngModel]="currentPost?.cost"  name="cost" id="cost">
           </div>  
  
          <ng-container *ngIf="form.get('cost')?.touched">
           <p class="error" *ngIf="form.get('cost')?.errors?.['required']">
            Cost is required</p>
           <p class="error" *ngIf="form.get('cost')?.errors?.['min']">
            Cost cant be a negative number</p>
         </ng-container>
  
         <div class="inputfield">
          <label>Duration</label>
          <input type="text" class="input" formControlName="duration" [ngModel]="currentPost?.duration"  name="duration" id="duration" >
       </div> 
  
       <ng-container *ngIf="form.get('duration')?.touched">
        <p class="error" *ngIf="form.get('duration')?.errors?.['required']">
         Duration is required</p>
        <p class="error" *ngIf="form.get('duration')?.errors?.['minLength']">
         Duration must be atleast 5 characters long</p>
        </ng-container>
  
          <div class="inputfield">
              <label>Image URL</label>
              <input type="text" class="input" formControlName="imgUrl"  [ngModel]="currentPost?.imgUrl" name="imgUrl" id="imgUrl">
           </div> 
            <ng-container *ngIf="form.get('imgUrl')?.touched">
           <p class="error" *ngIf="form.get('imgUrl')?.errors?.['required']">
            Image URL is required</p>
           <p class="error" *ngIf="form.get('imgUrl')?.errors?.['pattern']">
            Image URL must be valid url</p>
         </ng-container>
           
          <div class="inputfield">
              <label>Description</label>
              <textarea class="textarea" formControlName="description" [ngModel]="currentPost?.description"  name="description" id="description"></textarea>
           </div> 
           <ng-container *ngIf="form.get('description')?.touched">
           <p class="error" *ngIf="form.get('description')?.errors?.['required']">
            Description cant be empty</p>
            <p class="error" *ngIf="form.get('description')?.errors?.['minlength']" >
               Description lenght must be atleast 15 characters</p>
            </ng-container>
        
          <div class="inputfield">
            <button type="submit" [disabled]="form.invalid"  class="btn">Edit</button>
          </div>
          
        </div>
    </div>
   </form>	
   </div>
