<div class="login-container">
    <div class="center">
      <h1>Login</h1>
      <form [formGroup]="form" (ngSubmit)="loginHandler()">
        <div class="txt_field">
          <input  required type="text" formControlName="email"   id="email" >
          <span></span>
          <label>Email</label>
        </div>
        <ng-container *ngIf="form.get('email')?.touched">
        <p class="error" *ngIf="form.get('email')?.errors?.['required']">
          Email is required
        </p>
        <p class="error" *ngIf="form.get('email')?.errors?.['pattern'] ">
          Email is not valid
        </p>
      </ng-container>
        <div class="txt_field">
          <input type="password" formControlName="password"  id="password" required >
          <span></span>
          <label>Password</label>
        </div>
        <ng-container *ngIf="form.get('password')?.touched">
        <p class="error" *ngIf="form.get('password')?.errors?.['required']">
         Password is required
        </p> 
        <p class="error" *ngIf="form.get('password')?.errors?.['minlength']" >
          Password must be atleast 5 characters long
        </p> 
      </ng-container>

        <button type="submit" value="Login" [disabled]="form.invalid" >Login</button>
        <div class="signup_link">
          Not a member? <a routerLink="/register">Signup</a>
        </div>
      </form>
    </div>

</div>