<header>
    <a routerLink="/home" class="logo">Travel Blog</a>
    <div class="container">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <nav class="nav-bar" >
        <ul>
            <li>
                <a routerLink="/home" class="active">Home</a>
            </li>
            <li>
                <a routerLink="/posts" class="active">All posts</a>
            </li>
           

            <li>
                <a routerLink="/about" class="active">About us</a>
            </li>
            <div class="logged" *ngIf="!isLogged; else LoggedIn">
                
                <li>
                <a routerLink="/login" class="active">Login</a>
            </li>
            <li>
                <a routerLink="/register" class="active">Register</a>
            </li>
            </div>
            
            <ng-template #LoggedIn>
            <div class="logged" >
                <li>
                    <a routerLink="/create" class="active">Create a post</a>
                </li>
                <li>
                    <a routerLink="/my-listings" class="active">{{currentUser.username}} Listings</a>
                </li>

                <li>
                    <a href="#" (click)="logoutHandler()" class="active">Logout</a>
                </li>
            </div>
        </ng-template>

        </ul>
    </nav>
</header>