<section class="about">
    <div class="main">
      <img src="../../../assets/images/img-7.jpg" alt="about" />
      <div class="about-text">
        <h1 class="about-h1">About Us</h1>
        <h5>
          Travel Blog <span class="aboutSpan"> traveling blog comunity</span>
        </h5>
        <p>
          “Travel is the main thing you purchase that makes you more
          extravagant”. We, at Travel Blog, swear by this and put
          stock in satisfying travel dreams that make you perpetually rich
          constantly. We have been moving excellent encounters for a
          considerable length of time through our cutting-edge planned
          occasion bundles and other fundamental travel administrations. We
          rouse our clients to carry on with a rich life, brimming with
          extraordinary travel encounters.
        </p>
        
        <a class="about-btn" routerLink="/posts">
          Browse our experiences
        </a>
      </div>
    </div>
  </section>