
<div class="item-container">
    <div class="cards-container"> 
        <div class="cards-wrapper">    
                <li class='cards-item'>
                    <div class='cards-item-link' >
                     <figure class='cards-item-pic-wrap' >
                      <img src={{post.imgUrl}} alt='Travel Img' class='cards-item-img' />
                     </figure>
                     <div class='cards-item-info'>
                         <h5 class='cards-item-text>'>{{post.title}}</h5>
                         
                         <a [routerLink]="['/posts/', post._id]" class='details-btn'>Details</a>
                     </div>
                    </div>
                  </li> 
        </div>
    </div>
</div>